/*body {*/
/*padding-top: 50px;*/
/*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*}*/

/*a {*/
/*color: #00B7FF;*/
/*}*/
body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

body {

    padding-top: 50px;
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

.result-table {
    margin: 20px 0;
    width: 100%;
    border-collapse: collapse;
}

.result-table td {
    padding: 8px;
}

.result-table > tbody > tr > td:first-child {
    width: 25%;
    max-width: 300px;
    text-align: right;
}

.result-table td table {
    background-color: lightblue;
    text-align: right;
}