<div class="page-header">
    <h1>查看投票</h1>
</div>
<div class="well well-lg">
    <strong>问题：</strong><br>{{poll.question}}
</div>

<div ng-hide="poll.userVoted">
    <p class="lead">请选择以下的选项:</p>

    <form id="voteForm" role="form" ng-submit="vote()">
    <div ng-repeat="choice in poll.choices" class="radio">
            <label>
                <input type="radio" name="choice" ng-model="poll.userVote" value="{{choice._id}}">
                {{choice.text}}
            </label>
        </div>
    </form>
</div>

<div ng-show="poll.userVoted">
    <table class="result-table">
        <tr ng-repeat="choice in poll.choices">
            <td>{{choice.text}}</td>
            <td>
                <table style="background-color: lightblue; width: {{choice.votes.length/poll.totalVotes*100}}%; text-align: right">
                    <tr>
                        <td>{{choice.votes.length}}票</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <p>
        <em>
            目前为止已投票：{{poll.totalVotes}}人。
            <span ng-show="poll.userChoice">您投的是： <strong>{{poll.userChoice.text}}</strong>。</span>
        </em>
    </p>
</div>
<p>
<hr>
</p>
<div class="row">
    <div class="col-xs-6">
        <a href="#/polls" class="btn btn-default" role="button"><span
                class="glyphicon glyphicon-arrow-left"></span> 返回</a>
        <button class="btn btn-default" ng-click="deleteVote()"><i class="glyphicon-remove">删除</i></button>

    </div>
    <div class="col-xs-6">
    </div>

    <div class="col-xs-6" ng-hide="poll.userVoted">
        <button class="btn btn-primary pull-right" ng-click="vote()">投票 &raquo;</button>
    </div>
</div>
<p>&nbsp;</p>